/* ############# STYLES ############# */
body {
    font-family: "Gill Sans", sans-serif;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    min-width: 100px;
    text-align: center;
    font-size: 18px;
}


/* ############# ID STYLES ############# */

#crnTd {
    color: #4CAF50;
}

#headers {
    background-image: linear-gradient(green, rgb(1, 200, 1));
    color: white;
}

#termtd {
    width: 40px;
}

#term[contenteditable="true"] {
    min-width: 100px;
    min-height: 30px;
    width: fit-content;
    height: fit-content;
    font-size: 24px;
    border: 1px solid #4CAF50; 
    outline: none; 
}

#convertBannerData {
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 50px;
    height: 40px;
    width: 10%;
    text-align: center; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    line-height: 40px;
    vertical-align: middle;
    transition: transform 0.3s, width 0.3s, box-shadow 0.3s;
}


/* ############# TABLE ID STYLES ############# */

#editableTable, th, td {
    border: 1px solid gray;
}

#WeekDays {
    border: 1px solid gray;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}


/* ############# CLASS STYLES ############# */

.classBubble {
    color: #4CAF50;
    border-radius: 10px;
    max-height: 75px;
    font-size: 14px;
    color: white;
    position: absolute;
    width: 100%;
    background-color: rgba(76, 175, 80, 0.8);
    /* overflow: hidden; */
    overflow: auto;
    top: 0;
}


.box:hover, .box:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var("black");
  transform: translateY(-0.25em);
  color: var(--color);
  transition: 0.25s;
  &:hover,
    &:focus { 
      border-color: var(--hover);
      color: #fff;
    }
}


.box {  
    color: var(--color);
    transition: 0.25s;
    
    &:hover,
    &:focus { 
      border-color: var(--hover);
      color: #fff;
    }
  }

/* Adjusts the positioning of the classBubble within the table cell */
#WeekDays td {
    position: relative;
    padding: 0;
    border: 1px solid #ddd;
    height: 60px;
    overflow: visible; 
}



